<style>
  @import
  url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap'); * {
  font-family: 'Nunito Sans', sans-serif; }
</style>

<p>Hi Dondomie,
</p>

<p>We are very that someone try to reach on you. Please see the information
  below.</p>
<br />

<p><b>EMAIL: </b><i>{{email}}</i></p>
<p><b>NAME: </b><i>{{name}}</i></p>
<p><b>MESSAGE: </b><i>{{message}}</i></p>

<p>Thanks!</p>
<p>DDUNGCA - API</p>